<div class="">
  <!-- INTRODUCTION PART -->
  <div
    class="flex sm:px-[116px] px-[30px] items-center justify-center py-[100px] max-[860px]:py-[50px] flex-wrap gap-y-8 relative"
  >
    <div class="flex-[1_1_40%]">
      <p class="font-bold text-[56px] max-sm:text-[36px] text-[#002A1B]">
        Fast, reliable, and accurate credit scoring using AI
      </p>
      <p class="text-[#3B3D3B] font-normal text-[18px] py-4">
        Get global coverage and real-time credit scoring
      </p>
      <button
        class="bg-[#FCD34D] text-black rounded-[30px] py-4 my-4 px-10 flex items-center gap-2"
      >
        Get Credit Score
        <img src="/assets/img/icons/arrow-right.png" alt="right" />
      </button>
      <div class="flex items-start gap-10 max-sm:gap-2 my-4">
        <div>
          <p class="text-center text-[#1F8505] font-semibold text-[32px]">
            15 Y.
          </p>
          <p class="text-center text-[#697484] text-base font-normal">
            Experience
          </p>
        </div>
        <div>
          <p class="text-center text-[#1F8505] font-semibold text-[32px]">
            100%
          </p>
          <p class="text-center text-[#697484] text-base font-normal">
            Client satisfaction
          </p>
        </div>
        <div>
          <p class="text-center text-[#1F8505] font-semibold text-[32px]">
            50+
          </p>
          <p class="text-center text-[#697484] text-base font-normal">
            Business trust us
          </p>
        </div>
      </div>
    </div>
    <div class="flex-[1_1_60%] flex items-center justify-center">
      <div
        class="rounded-full bg-[#B8D6B0] w-[768px] h-[768px] max-[420px]:w-[300px] max-[420px]:h-[300px] max-[320px]:w-[260px] max-[320px]:h-[260px] max-[860px]:w-[600px] max-[860px]:h-[600px] max-[640px]:w-[400px] max-[640px]:h-[400px] max-[425px]:w-[200px] max-[425px]:h-[200px] relative flex justify-center items-center"
      >
        <img
          src="/assets/img/icons/iPhone.png"
          alt="right"
          class="absolute text-center max-[860px]:w-[500px] max-sm:w-[360px] max-[420px]:w-[280px] max-[320px]:w-[200px]"
        />
      </div>
    </div>
    <img
      src="/assets/img/icons/dot-rectangle.png"
      alt="dot-rect"
      class="absolute top-0 right-0 max-[680px]:hidden"
    />
    <div
      class="absolute rounded-full bg-[#b8d6b0] w-[90px] h-[90px] top-12 right-32 opacity-20 max-[680px]:hidden"
    ></div>
  </div>
  <!-- ABOUT US -->
  <div
    class="py-[80px] max-[840px]:py-[40px] container mx-auto relative flex flex-col items-center"
  >
    <div class="py-[80px] max-[840px]:py-[40px] flex flex-col w-[64%]">
      <p class="font-bold text-[32px] text-[#1F8505] text-center my-2">
        About Us
      </p>
      <p class="font-bold text-[36px] text-[#002A1B] text-center my-2">
        We help SME's unlock their potential
      </p>
      <p class="font-bold text-[20px] text-[#3B3D3B] text-center my-2">
        Data doesn't stand still - and nor do we. We are passionate about
        analyzing data to provide our customers with the complete picture. This
        is what we do.
      </p>
    </div>
    <div class="flex items-center justify-between gap-8 max-[840px]:block">
      <div
        class="flex-[1_1_33%] flex flex-col max-[840px]:flex-row max-[840px]:gap-4 max-[840px]:my-4 max-[700px]:flex max-[700px]:flex-col"
      >
        <img
          src="/assets/img/icons/credit-score.png"
          alt="credit-scoring"
          class="w-full"
        />
        <div
          class="flex items-center px-4 bg-white border-[1px] border-transparent shadow-2xl h-40 py-4 max-[1024px]:h-60"
        >
          <div class="">
            <p class="font-semibold text-[24px]">Credit Scoring</p>
            <p class="font-normal text-[15px]">
              We give businesses with their credit score, an expert financial
              assessment for a sustainable model using machine learning
              algorithms.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex-[1_1_33%] flex flex-col max-[840px]:flex-row max-[840px]:gap-4 max-[840px]:my-4 max-[700px]:flex max-[700px]:flex-col"
      >
        <img
          src="/assets/img/icons/user-friendly-interface.png"
          alt="credit-scoring"
          class="w-full"
        />
        <div
          class="flex items-center px-4 bg-white border-[1px] border-transparent shadow-2xl h-40 py-4 max-[1024px]:h-60"
        >
          <div>
            <p class="font-semibold text-[24px]">User-friendly Interface</p>
            <p class="font-normal text-[15px]">
              We created seamless technology. Our simple and polished interfaces
              make your investing experience fast and effortless.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex-[1_1_33%] flex flex-col max-[840px]:flex-row max-[840px]:gap-4 max-[840px]:my-4 max-[700px]:flex max-[700px]:flex-col"
      >
        <img
          src="
        /assets/img/icons/sustainable.png"
          alt="credit-scoring"
          class="w-full"
        />
        <div
          class="flex items-center px-4 bg-white border-[1px] border-transparent shadow-2xl h-40 py-4 max-[1024px]:h-60"
        >
          <div>
            <p class="font-semibold text-[24px]">Sustainable Financing</p>
            <p class="font-normal text-[15px]">
              We support UN goals to make businesses environmental friendly in
              all aspects and have adopted the same approach in our credit
              scoring AI powered model.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="absolute bg-[#FCD34D] opacity-10 -z-10 h-[1040px] w-[80%] max-[840px]:hidden"
    ></div>
    <div class="flex items-end gap-4 w-[80%] py-12 max-[1280px]:hidden">
      <div class="flex-[1_1_25%]">
        <p class="text-[20px] font-normal text-center">We are backed by</p>
        <p class="text-[48px] font-bold text-center">Partners</p>
      </div>
      <img
        class="flex-[1_1_25%]"
        src="/assets/img/icons/modulus.png"
        alt="modulus"
      />
      <div class="flex relative flex-[1_1_50%]">
        <img src="/assets/img/icons/vrs-logo.png" alt="vrs-logo" />
        <img
          src="/assets/img/icons/vrs-circle.png"
          alt="vrs-circle"
          class="absolute right-8"
        />
      </div>
    </div>
  </div>
  <!-- Services -->
  <div
    class="py-[80px] max-[840px]:py-[40px] container mx-auto relative flex flex-col items-center"
  >
    <div class="py-[80px] max-[840px]:py-[40px] flex flex-col w-[64%]">
      <p class="font-bold text-[32px] text-[#1F8505] text-center my-2">
        Services
      </p>
      <p
        class="font-bold text-[36px] text-[#002A1B] text-center my-2 max-md:text-[32px]"
      >
        Would you like to start monitoring your credit?
      </p>
      <p class="font-bold text-[20px] text-[#3B3D3B] text-center my-2">
        Data doesn't stand still - and nor do we. We are passionate about
        analyzing data to provide our customers with the complete picture. This
        is what we do.
      </p>
    </div>
    <div class="flex max-lg:flex-col">
      <div class="flex-[1_1_50%] flex items-center justify-center">
        <img
          src="/assets/img/icons/credit-protection.png"
          alt="credit-protection"
          class="w-[60%]"
        />
      </div>
      <div
        class="flex-[1_1_50%] flex justify-center flex-col py-24 px-[5%] roadmap-1 relative gap-8 max-lg:m-12"
      >
        <div>
          <p
            class="text-[40px] text-[#002A1B] font-bold text-center max-md:text-[32px] pb-3"
          >
            Credit Protection
          </p>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              A strong credit rating enables borrowers to readily borrow money
              from financial institutions or the public debt market at a cheaper
              interest rate.
            </p>
          </div>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              Consumers are protected by credit protection from financial fraud,
              including any form of victimisation that can harm their potential.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex max-lg:flex-col-reverse">
      <div
        class="flex-[1_1_50%] flex justify-center flex-col py-24 px-[5%] roadmap-2 relative gap-8 max-lg:m-12"
      >
        <div>
          <p
            class="text-[40px] text-[#002A1B] font-bold text-center max-md:text-[32px] pb-3"
          >
            Credit Scoring
          </p>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              Lenders and other financial entities can assess a person's
              creditworthiness using a credit scoring system
            </p>
          </div>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              We calculate your business credit score based on ESG model powered
              by AI algorithms
            </p>
          </div>
        </div>
      </div>
      <div class="flex-[1_1_50%] flex items-center justify-center">
        <img
          src="/assets/img/icons/credit-scoring.png"
          alt="credit-protection"
          class="w-[60%]"
        />
      </div>
    </div>
    <div class="flex max-lg:flex-col">
      <div class="flex-[1_1_50%] flex items-center justify-center">
        <img
          src="/assets/img/icons/smart-contract.png"
          alt="credit-protection"
          class="w-[60%]"
        />
      </div>
      <div
        class="flex-[1_1_50%] flex justify-center flex-col py-24 px-[5%] roadmap-3 relative gap-8 max-lg:m-12"
      >
        <div>
          <p
            class="text-[40px] text-[#002A1B] font-bold text-center max-md:text-[32px] pb-3"
          >
            Smart Contract
          </p>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              We employ stratis smart contract; a particular sort of programme
              that encapsulates business logic and executes on a dedicated
              virtual machine baked into a distributed ledger like a blockchain.
            </p>
          </div>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              Smart contracts can be automatically updated by the framework to
              express the patterns in low-cost ways.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex max-lg:flex-col-reverse">
      <div
        class="flex-[1_1_50%] flex justify-center flex-col py-24 px-[5%] roadmap-4 relative gap-8 max-lg:m-12"
      >
        <div>
          <p
            class="text-[40px] text-[#002A1B] font-bold text-center max-md:text-[32px] pb-3"
          >
            Investor Community
          </p>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              By facilitating the investment process in entrepreneurial
              enterprises, we aid in the connection between investors and
              entrepreneurs.
            </p>
          </div>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              Community investing aims to provide low-income or underprivileged
              communities with social advantages while simultaneously producing
              a profit.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-[1_1_50%] flex items-center justify-center">
        <img
          src="/assets/img/icons/investor-community.png"
          alt="credit-protection"
          class="w-[60%]"
        />
      </div>
    </div>
    <div class="flex max-lg:flex-col">
      <div class="flex-[1_1_50%] flex items-center justify-center">
        <img
          src="/assets/img/icons/credit-protection.png"
          alt="credit-protection"
          class="w-[60%]"
        />
      </div>
      <div
        class="flex-[1_1_50%] flex justify-center flex-col py-24 px-[5%] roadmap-5 relative gap-8 max-lg:m-12"
      >
        <div>
          <p
            class="text-[40px] text-[#002A1B] font-bold text-center max-md:text-[32px] pb-3"
          >
            Corporate Social Responsibility
          </p>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              In the ordinary course of business, we operate in a way that
              enhance all aspects of society, including economic, social, and
              environmental.
            </p>
          </div>
          <div class="flex items-start gap-4">
            <img src="/assets/img/icons/check.png" alt="check" />
            <p class="text-[#3B3D3B] font-normal text-[20px]">
              Meeting current needs while preserving the potential of future
              generations to do the same is possible through sustainability.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team -->
  <div></div>
  <!-- Contact Us -->
  <div
    class="py-[80px] max-[840px]:py-[40px] container mx-auto relative flex flex-col items-center"
  >
    <div class="py-[80px] max-[840px]:py-[40px] flex flex-col w-[64%]">
      <p class="font-bold text-[32px] text-[#1F8505] text-center my-2">
        Contact Us
      </p>
      <p class="font-bold text-[36px] text-[#002A1B] text-center my-2">
        We would love to hear from you
      </p>
    </div>
    <div class="flex">
      <div
        class="flex-[1_1_50%] flex flex-col items-center relative w-full bg-[#F2F2F261]"
      >
        <p
          class="font-semibold text-[32px] text-center py-9 px-32 text-[#221E13] w-full border-[#1F8505] border-b-[2px]"
        >
          Schedule a Call
        </p>
        <div class="px-24 py-16 flex flex-col gap-5">
          <div class="flex gap-4">
            <div>
              <p class="font-normal text-5 text-[#221E13]">First Name*</p>
              <input
                type="text"
                placeholder="Enter your First Name"
                class="text-5 font-normal bg-[#0000000A] py-4 px-3 outline-none rounded"
              />
            </div>
            <div>
              <p class="font-normal text-5 text-[#221E13]">Last Name*</p>
              <input
                type="text"
                placeholder="Enter your Last Name"
                class="text-5 font-normal bg-[#0000000A] py-4 px-3 outline-none rounded"
              />
            </div>
          </div>
          <div class="flex gap-4">
            <div>
              <p class="font-normal text-5 text-[#221E13]">Zip code*</p>
              <input
                type="text"
                placeholder="Enter your Zip code"
                class="text-5 font-normal bg-[#0000000A] py-4 px-3 outline-none rounded"
              />
            </div>
            <div>
              <p class="font-normal text-5 text-[#221E13]">Phone Number*</p>
              <input
                type="text"
                placeholder="Enter your Phone Number"
                class="text-5 font-normal bg-[#0000000A] py-4 px-3 outline-none rounded"
              />
            </div>
          </div>
          <div class="">
            <p class="font-normal text-5 text-[#221E13]">Date*</p>
            <input
              type="text"
              placeholder="07/05/2022"
              class="text-5 font-normal bg-[#0000000A] py-4 px-3 outline-none rounded w-full"
            />
          </div>
          <div class="">
            <p class="font-normal text-5 text-[#221E13]">Type of Event*</p>
            <input
              type="text"
              placeholder="Enter your Event Type"
              class="text-5 font-normal bg-[#0000000A] py-4 px-3 outline-none rounded w-full"
            />
          </div>
          <div class="">
            <p class="font-normal text-[16px] text-[#221E13]">
              Best time to call?
            </p>
            <div class="flex items-center gap-8">
              <div class="flex items-center gap-3">
                <input
                  type="radio"
                  name="call-time"
                  class="box-border bg-[#1F8505] accent-[#1F8505] w-6 h-6"
                />
                <p class="text-[18px] font-normal">ASAP</p>
              </div>
              <div class="flex items-center gap-3">
                <input
                  type="radio"
                  name="call-time"
                  class="box-border bg-[#1F8505] accent-[#1F8505] w-6 h-6"
                />
                <p class="text-[18px] font-normal">Today</p>
              </div>
              <div class="flex items-center gap-3">
                <input
                  type="radio"
                  name="call-time"
                  class="box-border bg-[#1F8505] accent-[#1F8505] w-6 h-6"
                />
                <p class="text-[18px] font-normal">Tomorrow</p>
              </div>
            </div>
          </div>
          <button class="w-full bg-[#1F8505] text-white py-4 rounded-lg">
            Request a Call
          </button>
        </div>
      </div>
      <img
        src="/assets/img/icons/contact-us.png"
        alt=""
        class="flex-[1_1_50%]"
      />
    </div>
  </div>
  <!-- Contact Us More -->
  <!-- <div class="relative flex justify-center">
    <img src="/assets/img/icons/contact-discuss.png" class="w-full" />
    <div
      class="absolute flex py-14 px-11 bg-white rounded-xl -bottom-24 shadow-2xl container mx-auto"
    >
      <div class="flex-[1_1_50%] flex flex-col gap-5 px-8">
        <p class="text-[32px] font-bold">Contact Us</p>
        <div class="flex items-start gap-4">
          <img src="/assets/img/icons/phone.png" alt="phone" />
          <p>
            +1 480 463 8811<br />
            Service Hours: 2:00am~7:00pm Monday~Friday
          </p>
        </div>
        <div class="flex items-center gap-4">
          <img src="/assets/img/icons/email.png" alt="email" />
          <p>hr@trident-ai.net</p>
        </div>
        <button
          class="bg-[#FCD34D] px-6 py-4 rounded-3xl font-medium text-[16px]"
        >
          Submit a request
        </button>
      </div>
      <div class="flex-[1_1_50%] flex flex-col gap-5 px-8 chat-now relative">
        <p class="text-[32px] font-bold">Chat Now</p>
        <p>
          Chat with our sales and support team for quick answers on product,
          features, pricing and more!
        </p>
        <p>Hours: 24/7</p>
        <button
          class="bg-[#FCD34D] px-6 py-4 rounded-3xl font-medium text-[16px]"
        >
          Chat Now!
        </button>
      </div>
    </div>
  </div> -->
  <!-- Subscribe -->
  <!-- <div class="flex pt-96 pb-32 items-center container mx-auto">
    <div class="flex-[1_1_50%] flex items-center justify-center">
      <div
        class="bg-[#B8D6B0] w-[600px] h-[600px] rounded-full relative flex justify-center items-center"
      >
        <img
          src="/assets/img/icons/hero-avatar.png"
          alt="hero-avatar"
          class="absolute bottom-0"
        />
      </div>
    </div>
    <div class="flex-[1_1_50%] gap-2">
      <p class="text-[#002A1B] font-bold text-[30px]">
        You're probably thinking, “Another newsletter?” <br />
        But we promise you're going to love ours!
      </p>
      <p class="text-[#858585] text-[20px] font-normal mt-2 mb-12">
        Subscribe to our newsletter
      </p>
      <div class="flex">
        <input
          type="text"
          placeholder="Your Email"
          class="text-[16px] text-[#858C94] font-normal border-[#E6E6E6] border-[1px] bg-[#E6E6E6] outline-none py-7 px-5 rounded-l-lg w-[50%] box-border"
        />
        <button
          class="bg-[#1F8505] py-7 px-9 text-white font-medium text-[22px] rounded-r-3xl"
        >
          Subscribe
        </button>
      </div>
    </div>
  </div> -->
</div>
