<div
  class="flex px-[116px] items-center justify-center py-[90px] flex-wrap gap-y-8"
>
  <div class="flex-[1_1_40%]">
    <p class="font-bold text-[56px] text-[#002A1B]">
      Fast, reliable, and accurate credit scoring using AI
    </p>
    <p class="text-[#3B3D3B] font-normal text-[18px]">
      Get global coverage and real-time credit scoring
    </p>
    <button
      class="bg-[#FCD34D] text-black rounded-[30px] py-[13px] px-10 flex items-center gap-2"
    >
      Get Credit Score
      <img src="/assets/img/icons/arrow-right.png" alt="right" />
    </button>
    <div class="flex items-center] gap-10">
      <p class="text-[#1F8505] font-semibold text-[32px]">15 Y.</p>
      <p class="text-[#1F8505] font-semibold text-[32px]">100%</p>
      <p class="text-[#1F8505] font-semibold text-[32px]">50+</p>
    </div>
  </div>
  <div class="flex-[1_1_60%] flex items-center justify-center">
    <div
      class="rounded-full bg-[#B8D6B0] w-[768px] h-[768px] relative flex justify-center items-center"
    >
      <img
        src="/assets/img/icons/iPhone.png"
        alt="right"
        class="absolute text-center"
      />
    </div>
  </div>
</div>
