<div class="">
  <!-- INTRODUCTION PART -->
  <div
    class="flex sm:px-[116px] px-[30px] items-center justify-center py-[100px] flex-wrap gap-y-8 relative"
  >
    <div class="flex-[1_1_40%]">
      <p class="font-bold text-[56px] text-[#002A1B]">
        Fast, reliable, and accurate credit scoring using AI
      </p>
      <p class="text-[#3B3D3B] font-normal text-[18px] py-4">
        Get global coverage and real-time credit scoring
      </p>
      <button
        class="bg-[#FCD34D] text-black rounded-[30px] py-4 my-4 px-10 flex items-center gap-2"
      >
        Get Credit Score
        <img src="/assets/img/icons/arrow-right.png" alt="right" />
      </button>
      <div class="flex items-center gap-10 max-sm:gap-2 my-4">
        <div>
          <p class="text-center text-[#1F8505] font-semibold text-[32px]">
            15 Y.
          </p>
          <p class="text-center text-[#697484] text-base font-normal">
            Experience
          </p>
        </div>
        <div>
          <p class="text-center text-[#1F8505] font-semibold text-[32px]">
            100%
          </p>
          <p class="text-center text-[#697484] text-base font-normal">
            Client satisfaction
          </p>
        </div>
        <div>
          <p class="text-center text-[#1F8505] font-semibold text-[32px]">
            50+
          </p>
          <p class="text-center text-[#697484] text-base font-normal">
            Business trust us
          </p>
        </div>
      </div>
    </div>
    <div class="flex-[1_1_60%] flex items-center justify-center">
      <div
        class="rounded-full bg-[#B8D6B0] w-[768px] h-[768px] max-[420px]:w-[300px] max-[420px]:h-[300px] max-[320px]:w-[260px] max-[320px]:h-[260px] max-[860px]:w-[600px] max-[860px]:h-[600px] max-[640px]:w-[400px] max-[640px]:h-[400px] max-[425px]:w-[200px] max-[425px]:h-[200px] relative flex justify-center items-center"
      >
        <img
          src="/assets/img/icons/iPhone.png"
          alt="right"
          class="absolute text-center max-[860px]:w-[500px] max-sm:w-[360px] max-[420px]:w-[280px] max-[320px]:w-[200px]"
        />
      </div>
    </div>
    <img
      src="/assets/img/icons/dot-rectangle.png"
      alt="dot-rect"
      class="absolute top-0 right-0 max-[680px]:hidden"
    />
    <div
      class="absolute rounded-full bg-[#b8d6b0] w-[90px] h-[90px] top-12 right-32 opacity-20 max-[680px]:hidden"
    ></div>
  </div>
  <!-- ABOUT US -->
  <div class="py-[80px] container mx-auto relative flex flex-col items-center">
    <p class="font-bold text-[32px] text-[#1F8505] text-center my-2 w-[64%]">
      About Us
    </p>
    <p class="font-bold text-[36px] text-[#002A1B] text-center my-2 w-[64%]">
      We help SME's unlock their potential
    </p>
    <p class="font-bold text-[20px] text-[#3B3D3B] text-center my-2 w-[64%]">
      Data doesn't stand still - and nor do we. We are passionate about
      analyzing data to provide our customers with the complete picture. This is
      what we do.
    </p>
    <div class="flex items-center justify-between gap-8">
      <div class="flex-[1_1_33%] flex flex-col">
        <img src="/assets/img/icons/credit-score.png" alt="credit-scoring" />
        <div class="px-4 bg-white border-[1px] border-transparent shadow-2xl h-32 py-4">
          <p class="font-semibold text-[24px] ">Credit Scoring</p>
          <p class="font-normal text-[15px] ">
            We give businesses with their credit score, an expert financial
            assessment for a sustainable model using machine learning
            algorithms.
          </p>
        </div>
      </div>
      <div class="flex-[1_1_33%] flex flex-col">
        <img
          src="/assets/img/icons/user-friendly-interface.png"
          alt="credit-scoring"
        />
        <div class="px-4 bg-white border-[1px] border-transparent shadow-2xl h-32 py-4">
          <p class="font-semibold text-[24px] ">
            User-friendly Interface
          </p>
          <p class="font-normal text-[15px] ">
            We created seamless technology. Our simple and polished interfaces
            make your investing experience fast and effortless.
          </p>
        </div>
      </div>
      <div class="flex-[1_1_33%] flex flex-col">
        <img
          src="
        /assets/img/icons/sustainable.png"
          alt="credit-scoring"
        />
        <div class="px-4 bg-white border-[1px] border-transparent shadow-2xl h-32 py-4">
          <p class="font-semibold text-[24px] ">
            Sustainable Financing
          </p>
          <p class="font-normal text-[15px] ">
            We support UN goals to make businesses environmental friendly in all
            aspects and have adopted the same approach in our credit scoring AI
            powered model.
          </p>
        </div>
      </div>
    </div>
    <div class="absolute bg-[#FCD34D] opacity-10 -z-10 h-[800px] w-[80%]"></div>
    <p class="h-30"></p>
  </div>
</div>
