<div>
  <img
    src="/assets/img/icons/request-background.png"
    alt="request-background"
    class="w-full"
  />
  <div class="container mx-auto flex items-center">
    <div class="flex-[1_1_60%]">
      <p class="font-bold text-[44px] text-[#383C3E]">Submit a request</p>
      <p class="font-normal text-[16px] text-[#737B7D]">
        Need an experienced and skilled hand with custom IT projects? 
        <br />Fill out the form to get a free consultation.
      </p>
    </div>
    <div class="flex-[1_1_40%]"></div>
    <div class="flex-[1_1_60%] flex flex-col">
      <input
        type="text"
        class="border-b-[1px] border-[#737B7D] outline-none px-3 py-3 text-[16px] text-[#757575] font-normal"
        placeholder="Please choose your issue below"
      />
      <span class="text-[#D50D0D] text-[12px] font-normal px-3"
        >Please, enter valid email address</span
      >
      <input
        type="text"
        class="border-b-[1px] border-[#737B7D] outline-none px-3 py-3 text-[16px] text-[#757575] font-normal"
        placeholder="Your Email Address"
      />
      <span class="text-[#D50D0D] text-[12px] font-normal px-3"
        >Please, enter valid email address</span
      >
      <input
        type="text"
        class="border-b-[1px] border-[#737B7D] outline-none px-3 py-3 text-[16px] text-[#757575] font-normal"
        placeholder="Contact name"
      />
      <span class="text-[#D50D0D] text-[12px] font-normal px-3"
        >Please, enter valid email address</span
      >
      <input
        type="text"
        class="border-b-[1px] border-[#737B7D] outline-none px-3 py-3 text-[16px] text-[#757575] font-normal"
        placeholder="I need help with ..."
      />
      <span class="text-[#D50D0D] text-[12px] font-normal px-3"
        >Please, enter valid email address</span
      >
      <input
        type="text"
        class="border-b-[1px] border-[#737B7D] outline-none px-3 py-3 text-[16px] text-[#757575] font-normal"
        placeholder="Subject"
      />
      <span class="text-[#D50D0D] text-[12px] font-normal px-3"
        >Please, enter valid email address</span
      >
      <p class="font-normal text-[16px] text-[#8E8E8E] px-3">Description</p>
      <textarea
        class="border-[#CDCDCD] bg-[#F6F5F5] border-[1px] box-border rounded-xl p-5 text-[#8E8E8E] outline-none w-full h-48"
      ></textarea>
      <div class="py-12 border-dashed border-[4px] border-[#E5E5E5]">
        <div class="flex justify-center items-center gap-4">
          <img src="/assets/img/icons/upload.png" alt="upload" />
          <p class="text-[15px] font-normal text-[#8E8E8E]">
            Upload Additional file
          </p>
        </div>
      </div>
      <p class="font-normal text-[12px] text-[#8E8E8E]">
        Attach file. File size of your documents should not exceed 10MB
      </p>
      <button class="bg-[#008F17] text-white py-4 uppercase">submit</button>
      <div class="flex items-center gap-4 py-3 my-3">
        <input
          type="checkbox"
          class="accent-[#1F8505] border-[#383C3E] w-6 h-6"
        />
        <p class="text-[18px] font-normal text-[#383C3E]">
          I want to protect my data by signing an NDA
        </p>
      </div>
    </div>
    <div class="flex-[1_1_40%]">
      <p class="font-bold text-[16px] text-[#383C3E]">Offices</p>
      <p>United States<br />500 5th Avenue Suite 400, NY 10110</p>
      <p>United Kingdom<br />High St, Bromley BR1 1DN</p>
      <p>France<br />80 avenue des Terroirs de France, Paris</p>
      <p class="font-bold text-[16px] text-[#383C3E]">For Quick Inquiries</p>
      <div class="flex items-center">
        <img src="/assets/img/icons/flag-uk.png" alt="flag-uk" />
        <p>+44 7777777777</p>
      </div>
      <div class="flex items-center">
        <img src="/assets/img/icons/flag-us.png" alt="flag-us" />
        <p>+1 3333333330</p>
      </div>
      <p class="font-bold text-[16px] text-[#383C3E]">
        Would you like to join our newsletter?
      </p>
      <div class="flex items-center gap-4">
        <input
          type="text"
          placeholder="Email"
          class="text-[16px] font-normal text-[#8E8E8E] border-b-[#737B7D] border-b-[1px] px-3 py-3 outline-none"
        />
        <button class="bg-[#008F17] py-4 px-7">
          <img src="/assets/img/icons/trans-check.png" alt="trans-check" />
        </button>
      </div>
      <div class="flex flex-col p-10 bg-[#B8D6B036]">
        <p class="text-[#383C3E] text-[32px] font-bold">Chat Now</p>
        <p class="text-[#737B7D] text-[16px] font-normal">
          Chat with our sales and support team for quick answers on product,
          features, pricing and more!
          <br />
          Hours: 24/7
        </p>
        <button class="bg-[#FCD34D] text-black rounded-[30px] py-4 my-4 px-6 w-[70%] flex items-center gap-2">
          Chat Now 
          <img src="/assets/img/icons/arrow-right.png" alt="right" />
        </button>
      </div>
    </div>
  </div>
</div>
