<div
  class="bg-[#002A1B] text-white pt-[100px] pb-[50px] px-[72px] max-[680px]:px-6"
>
  <div class="flex items-center gap-6 max-[1100px]:block">
    <div class="flex-[1_1_50%] max-[1100px]:block">
      <p class="font-sans text-[32px] font-bold pt-2">Smart Green Invest</p>
      <p class="max-w-[480px] opacity-70 pt-2">
        Smart Green investment is a credit scoring web app which calculates your
        credit scoring based on ESG model using Artifical Intelligence
      </p>
      <div class="flex gap-2 pt-2">
        <img src="/assets/img/icons/discord.png" alt="discord" />
        <img src="/assets/img/icons/instagram.png" alt="instagram" />
        <img src="/assets/img/icons/facebook.png" alt="facebook" />
        <img src="/assets/img/icons/twitter.png" alt="twitter" />
      </div>
    </div>
    <div class="flex-[1_1_50%] max-[1100px]:block max-[1100px]:pt-12">
      <div class="flex items-start justify-around max-[520px]:flex-col gap-y-6">
        <div class="flex flex-col gap-2">
          <p class="font-bold">Contact Us</p>
          <p class="font-normal">hr@trident-ai.net</p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="font-bold">Resources</p>
          <p class="font-normal">Blog</p>
          <p class="font-normal">FAQ</p>
          <p class="font-normal">Team of Service</p>
          <p class="font-normal">Privacy Policy</p>
        </div>
        <div class="flex flex-col gap-2">
          <p class="font-bold">Company</p>
          <p class="font-normal">About us</p>
          <p class="font-normal">Services</p>
          <p class="font-normal">Team</p>
          <p class="font-normal">Schedule a call</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="border-[#FFFAFA] w-full border-b-[1px] mt-10 mb-6 opacity-20"
  ></div>
  <p class="text-base font-normal opacity-70">
    All rights reserved. Smart Green Invest, 2022.
  </p>
</div>
