/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin Line {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #79B669;
}


@mixin LineContent($content) {
    content: $content;
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    background-color: #1F8505;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 700;
}

@mixin smallLineContent($content) {
    content: $content;
    position: absolute;
    top: -25px;
    width: 50px;
    height: 50px;
    background-color: #1F8505;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato', 'arial', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: opensans;
    src: url(assets/fonts/OpenSans-standard.ttf)
}

.roadmap-1::before {
    @include Line;
    left: 0;
}

.roadmap-1::after {
    @include LineContent("1");
    left: -50px;

    @media screen and (max-width:1024px) {
        @include smallLineContent("1");
        left: -25px
    }
}

.roadmap-2::before {
    right: -2px;
    @include Line;

    @media screen and (max-width:1024px) {
        left: 0px;
        @include Line;
    }
}

.roadmap-2::after {
    @include LineContent("2");
    right: -50px;

    @media screen and (max-width:1024px) {
        @include smallLineContent("2");
        left: -25px
    }
}

.roadmap-3::before {
    left: 0;
    @include Line;

}

.roadmap-3::after {
    @include LineContent("3");
    left: -50px;

    @media screen and (max-width:1024px) {
        @include smallLineContent("3");
        left: -25px
    }
}

.roadmap-4::before {
    right: -2px;
    @include Line;

    @media screen and (max-width:1024px) {
        left: 0px;
        @include Line;
    }
}

.roadmap-4::after {
    @include LineContent("4");
    right: -50px;

    @media screen and (max-width:1024px) {
        @include smallLineContent("4");
        left: -25px
    }
}

.roadmap-5::before {
    left: 0;
    @include Line;
}

.roadmap-5::after {

    @include LineContent("5");
    left: -50px;

    @media screen and (max-width:1024px) {
        @include smallLineContent("5");
        left: -25px
    }
}

.chat-now::before {
    position: absolute;
    content: '';
    width: 2px;
    background: #75757580;
    height: 100%;
    top: 0;
    left: 0;

    @media screen and (max-width: 640px) {
        display: none;

    }
}