<div
  class="relative h-[107px] flex justify-between items-center bg-[#002A1B] text-white p-14 max-[500px]:p-4"
>
  <p
    class="text-4xl font-bold text-center max-[384px]:text-[30px] max-[336px]:text-[20px]"
  >
    SMART GREEN
  </p>
  <div class="flex justify-center items-center p-2 gap-9 max-[1300px]:hidden">
    <p class="font-semibold text-[21.33px]">Home</p>
    <p class="font-semibold text-[21.33px]">About Us</p>
    <p class="font-semibold text-[21.33px]">Services</p>
    <p class="font-semibold text-[21.33px]">Team</p>
    <p class="font-semibold text-[21.33px]">Contact</p>
    <p class="font-semibold text-[21.33px]">Help Center</p>
  </div>
  <div class="flex justify-center items-center gap-4 max-[680px]:hidden">
    <button
      class="border-[2px] border-[#B8D6B0] text-[#B8D6B0] font-normal text-base rounded px-6 py-2"
    >
      Sign in
    </button>
    <button
      class="bg-[#FCD34D] text-black font-normal text-base rounded px-[18px] py-2"
    >
      Register
    </button>
    <div class="hidden max-[1300px]:block space-y-2">
      <span class="block w-8 h-1 bg-white"></span>
      <span class="block w-8 h-1 bg-white"></span>
      <span class="block w-8 h-1 bg-white"></span>
    </div>
    <div class="hidden space-y-2">
      <span class="block w-8 h-1 bg-white translate-y-3 rotate-45"></span>
      <span class="block w-8 h-1 bg-white translate-x-3 opacity-0"></span>
      <span class="block w-8 h-1 bg-white -translate-y-3 -rotate-45"></span>
    </div>
  </div>
  <div
    class="hidden max-[680px]:block space-y-2 max-[384px]:space-y-[7px] max-[336px]:space-y-[5px]"
  >
    <span class="block w-8 h-1 bg-white max-[336px]:w-[30px]"></span>
    <span class="block w-8 h-1 bg-white max-[336px]:w-[30px]"></span>
    <span class="block w-8 h-1 bg-white max-[336px]:w-[30px]"></span>
  </div>
  <div
    class="max-[680px]:hidden absolute rounded-full border-2 bg-[#07844C] opacity-5 w-[380px] h-[380px] top-0 left-0 max-[1300px]:w-[280px] max-[1300px]:h-[280px]"
  ></div>
</div>
